[submodule "core"]
	path = core
	url = https://github.com/htl-grieskirchen-core/core
[submodule "frontend/libs/mainframe-connector"]
	path = frontend/libs/mainframe-connector
	url = https://github.com/htl-grieskirchen-core/lib-mainframe-connector.git
