#frage{
 padding-top: 15px;
}

#header{
 display: flex;
}

$width: 320px;

$height: 250px;



.chart-wrapper {

  width: $width;
  min-width: $width;
  max-width: $width;
  height: $height;
  min-height: $height;
  max-height: $height;
  color: darkgray;
  border-radius: 10px;
  // background-image: linear-gradient(to bottom right, $bondi-dark, $bondi-light);
  background-attachment: fixed;

}