<!-- Header Start -->
<div class="flex flex-col h-full">
    <div class="bg-[#4D83B8] pb-5 pl-5 pt-3">
      <h3 class="text-5xl font-bold dark:text-white"></h3>
     
    </div>
  <!-- Header End -->
  
    <div class="h-full grid place-items-center">
      <div class="flex flex-col items-center">
        <p class="text-9xl">{{code}}</p>
        <button class="link_button text-decoration-line: underline" (click)="openErgebnis()">Ergebnis für diese Umfrage anzeigen</button>
        <button class="link_button text-decoration-line: underline" (click)="openLehreransicht()">Alle von ihnen erstellen Umfragen anzeigen</button>
      </div>
    </div>
  </div>
  