#headerStyle
{
    background-color: #4D83B8;
}

#headerTextStyle
{
  color:white;
  font-weight: bold;
  font-size: 2.5rem;
}

#buttonStyle
{
 color:white;
 background-color: #004D99;
 font-size:1.3rem;
}


#tableBtn
{
    vertical-align: middle;
}