<!-- Header Start -->
<nav id="headerStyle" class="bg-white border-gray-200 px-2 sm:px-4 py-2.5  rounded header">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a class="flex items-center">
        <span class="title self-center whitespace-nowrap">Umfragen</span>
    </a>
    <div class="flex md:order-2">
        <button (click)="newPollClicked()" class="button">Neu</button>
    </div>
    </div>
  </nav>
<!-- Header End -->

<!-- Table of polls -->
<div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-black  table-auto">
        <tbody class="divide-y divide-slate-200">
            <tr class="bg-white border-b" *ngFor="let poll of pollsOfTeacher">
                <th scope="row" class="py-4 px-6 font-bold text-lg">{{poll.pollName}}</th>
                <td class="py-4 px-6 text-base">Läuft Bis: <br>{{poll.endTime | date:'short'}}</td>
                <td class="py-4 px-6 text-base">{{totalVotes}} Votes</td>
                <td>
                    <button class="link_button text-decoration-line: underline" id="viewBtn" (click)="detailsClicked(poll)">View</button>
                    <button class="link_button text-decoration-line: underline" id="delBtn" (click)="deleteClicked(poll)">Delete</button>
                    <button class="link_button text-decoration-line: underline" id="delBtn" (click)="showCode(poll)">Code anzeigen</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>
