<div id="data" >
    <div id="header">
        <h3>Titel Eingeben:</h3>
        <input class="form-control" type="text" placeholder="Umfrage Wombats 5bhif">
        <button class="btn btn-primary" type="submit">⇦</button>
        <button>Fertig</button>
    </div>
    <div id="body">
        <div>
            Frage Eingeben
            <input type="text" placeholder="Warum leben Wombats in Mülleimern?">
        </div>
        <div>
            Antwort 1:
            <input type="text">
        </div>
        <div>
            Antwort 2:
            <input type="text">
        </div>
        <div>
            Antwort 3:
            <input type="text">
        </div>
        <div>
            Von:
            <input type="date">
            <input type="time">
        </div>
        <div>
            Bis:
            <input type="date">
            <input type="time">
        </div>
        Mehrfach-Antworten
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>

</div>

<!-- <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
        <mat-icon>plus_one</mat-icon>
    </button> -->