input{
  margin: 5px;
}

#buttonStyle
{
 color:white;
 background-color: #004D99;
 font-size:1.3rem;
 margin-left:2%;
 margin-right:2%;
}


#tableBtn
{
    vertical-align: middle;
}

#headerStyle
{
  margin-bottom:1%;
}

#body
{
  margin-left:1%;
}
