<div id="data">
    <div id="header" class="bg-[#4D83B8]">
        <div class="ml-5 mr-5 mb-5">
            <h3 class="text-4xl dark:text-white">Titel Eingeben:</h3>
            <div class="inline-block">
                <div class="mr-10 float-left">
                    <input [(ngModel)]="title" type="text" placeholder="Umfrage Wombats 5bhif"
                        class="form-control h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500 w-[400px]">
                </div>
                <div class="float-left">
                    <button (click)="backButtonClicked()" type="button"
                        class="rotate-180 mt-1.5 text-white bg-[#004D99] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:bg-[#004D99]">
                        <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Icon description</span>
                    </button>
                </div>
                <div class="float-left">
                    <button type="button" (click)="createPoll()"
                        class="mt-1 text-white bg-[#004D99] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:bg-[#004D99]">Fertig</button>
                </div>
            </div>
        </div>
    </div>
    <div id="body" class="m-5">

        <app-alert alertType="success" [(alertText)]="successAlert" [(hidden)]="successAlertHidden" linkText="hier." [(link)]="successAlertLink"></app-alert>

        <div class="mt-10">
            <p class="text-lg ml-2">Frage Eingeben:</p>
            <input [(ngModel)]="question" type="text" placeholder="Warum leben Wombats in Mülleimern?"
                class="h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 w-[560px]">
        </div>
        <div class="flex">
            <!-- <div class="inline-block align-top mr-3" *ngFor="let option of options; let indexOfElement = index"> -->
            <div class="flex flex-col">
                <div class="mr-3" *ngFor="let indexOfElement of optionsIndices">
                    <div class="ml-2 flex">
                        Antwortmöglichkeit {{indexOfElement+1}}:
                    </div>
                    <div class="flex">
                        <input type="text" [(ngModel)]="options[indexOfElement]"
                            class="h-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 w-[300px]">
                        <button type="button" [hidden]="isEssentialOption(indexOfElement)"
                            (click)="removeOption(indexOfElement)"
                            class="mt-1 text-white bg-[#004D99] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:bg-[#004D99]">-</button>
                    </div>
                </div>
                <div class="flex">
                    <button type="button" (click)="addOption()"
                        class="mt-1 text-white bg-[#004D99] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:bg-[#004D99]">+</button>
                </div>
            </div>
            <div class="inline-block">
                <div class="inline-block align-top mr-3">
                   
                    <div class="inline-block">
                        <div class="ml-2 flex">
                            Von:
                        </div>
                        <div class="flex">
                            <input type="date" [(ngModel)]="dateFrom"
                                class="h-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <input type="time" [(ngModel)]="timeFrom"
                                class="h-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>
                        <div class="ml-2 flex">
                            Bis:
                        </div>
                        <div class="flex">
                            <input type="date" [(ngModel)]="dateTo" (ngModelChange)="CheckDate()"
                                class="h-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <input type="time" [(ngModel)]="timeTo" (ngModelChange)="CheckTime()"
                                class="h-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>
                        <a class="text-red-600" [hidden]="errorDateHidden">Ende vor Anfang (Datum)!</a>
                        <a class="text-red-600" [hidden]="errorTimeHidden">Ende vor Anfang (Zeit)!</a>
                        <div class="mt-8 ml-2 flex">
                            <p class="flex">Mehrfach-Antworten</p>
                            <label for="default-toggle" class="inline-flex relative items-center cursor-pointer ml-2">
                                <input [(ngModel)]="multipleChoice" type="checkbox" value="" id="default-toggle"
                                    class="sr-only peer">
                                <div
                                    class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-[#004D99]">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
